$colors: (
  "background": #202A43,
  "cta_active": #4788C7,
  "cta_hover": #74ACE2,
  "cta_disabled": #425277,
  "shape_dark": #141B2C,
  "shape_light": #CBDDF0,
  "success": #82C94E,
  "red": #CD5050,
  "dark_red": #CD5050,
);

$font-size: (
	"small": 8px,
	"base-xs": 12px,
	"base-sm": 14px,
	"base": 16px,
	"base-lg": 18px,
	"large": 24px,
);

$font-weight: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

$border-radius: 12px;